<!DOCTYPE html>
<html lang="en">

<head>
  <title>FEUR PIZZA : Payer</title>
  <meta charset="UTF-8">
  <link rel="icon" href="img/pizza.png">
  <link rel="stylesheet" href="../css/menu.css">
  <link rel="stylesheet" href="../css/apresPayer.css">
</head>

<body>
        <!-- MENU -->

        <div class="bar">
          <div class="logobar">
          <img src="../img/pizza.png">
          <h1>FEUR PIZZA</h1>
          </div>
          

          <nav>
          <div><a href="./index.php?objet=Pizza">Pizzas</a></div>
          <div><a href="./index.php?objet=Boisson">Boissons</a></div>
          <div><a href="./index.php?objet=Dessert">Desserts</a></div>
          </nav>

          <div class="btnbar">
          <div class="compte">
               <a href="#"><img src="../img/compte.png">Login</a>
               <div class="CompteHiddenBox">
                    <ul>
                         <li><a href="index.php?objet=Compte&action=displayCompte">Mon Compte </a></li>
                         <li><a href="index.php?objet=Compte&action=disconnect"> Déconnexion </a></li>
                    </ul>
               </div>
          </div>

          <div class="panier">
               <a href="#"><img src="../img/panier.png">Panier  0.00 €</a>
          </div>
          </div>
     </div>

    <main>
        <div class="fin">
            <h1>MERCI POUR VOTRE COMMANDE !</h1>
            <h4>Votre commande est en cours de preparation</h4>
            <button>RETOUR A L'ACCEUIL</button>
        </div>
        

    </main>
</body>
</html>